/* bare minimum */
body {
    margin: 75px auto;
    max-width: fit-content;
}

#gameBoard {
    position: relative;
    background-color: aqua;
    height: 600px;
    width: 900px;
}

#titleScreen {
    /* display: none(flex); while working on gameGrid */
    display: none;
    height: 600px;
    width: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hotpink;
}
/* inside title screen */
#titleDiv {
    margin-top: 50px;
    font-size: 50px;
}
#buttonDiv {
    margin-bottom: 100px;
    /* gap: 10%; */
    /* comeback to spread start and how to buttons apart */
}
#start {
    padding: 10px;
}
#howTo {
    padding: 10px;
}

#gameGrid {
    /* display: none(grid); */
    display: grid;
    height: 600px;
    width: 900px;
    grid-template-columns: 75px 1fr 1fr 1fr 75px;
    grid-template-rows: 37.5px 37.5px 37.5px 1fr 1fr 37.5px;
    background-color: rgb(215, 213, 213);
}

/* what's inside gameGrid */
#inGameTitle, #stageNum, #quit, #canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
}
#inGameTitle {
    background-color: rgb(55, 135, 255);
    grid-area: 1 / 1 / 3 / 3;
}
#stageNum {
    background-color: rgb(55, 135, 255);
    grid-area: 1 / 3 / 3 / 4;
    
}
#quit {
    background-color: rgb(255, 55, 55);
    grid-area: 1 / 4 / 3 / 6;
}
main {
    background-color: blueviolet;
    grid-area: 4 / 2 / 6 / 5;
}
#canvas {
    background-color: salmon;
}

/* DO NOT WORK ON THIS UNTIL MVP IS FINSIHED */